main {
    margin: 0 auto;
    width: 1200px;
    background: #F1F1EB;
}

.m-r-l-20 {
    margin-right: 10px;
    margin-left: 10px;
}

.m-t-50 {
    margin-top: 50px;
}
.m-t-20 {
    margin-top: 20px;
}

.m-l-50 {
    margin-left: 50px;
}


.m-h-70 {
    min-height: 70px;
    margin-right: 20px;
}

h2 {

    height: 200px;
    left: 4.17%;
    right: 4.24%;
    top: -6.36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    /* or 125% */


    color: #4B321D;
}

.h3 {
    height: 200px;
    left: 4.17%;
    right: 4.24%;
    top: -6.36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;

    color: #F1F1EB;
}

.h31 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;

    color: #F1F1EB;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}
.font1{
    font-size: 18px;
}
.font2{
    font-size: 38px;
}
.img1 {

    width: 100%;
    height: 886px;


    border-radius: 16px;
}

.img2 {
    height: 886px;
    margin-top: 20px;


    border-radius: 16px;
}

.img3 {
    height: 886px;
    margin-top: 20px;

    border-radius: 16px;
}
.logo{
    width: 110px;
    height: 40px;
}
button {
    width: 150px;
}

.bg {
    height: 476px;
    left: 0%;
    right: 0%;
    top: 10px;

    background: #4B321D;
    border-radius: 16px;

}

ul {
    list-style: none;
}
li:hover{
       text-decoration: underline;
}
.l:hover{
       text-decoration: underline;
}
button:hover{
    transform: scale(1.2);

}
